<ul>
  <li class="item">
    <a class="link" target="_blank" href="https://github.com/hanford" tabindex="0">
      Github
    </a>
  </li>
  <li class="item">
    <a
      class="link"
      target="_blank"
      href="https://www.npmjs.com/~hanford"
      tabindex="0"
    >
      NPM
    </a>
  </li>
  <li class="item">
    <a
      class="link"
      target="_blank"
      href="https://www.twitter.com/jackhanford"
      tabindex="0"
    >
      Twitter
    </a>
  </li>
  <li class="item">
    <a
      class="link"
      target="_blank"
      href="https://www.instagram.com/jackhanford"
      tabindex="0"
    >
      Instagram
    </a>
  </li>
  <li class="item">
    <a class="link" target="_blank" href="/snapchat" tabindex="0">
      Snapchat
    </a>
  </li>
  <li class="item">
    <a
      class="link"
      target="_blank"
      href="https://facebook.com/jackhanford"
      tabindex="0"
    >
      Facebook
    </a>
  </li>
  <li class="item">
    <a
      class="link"
      target="_blank"
      href="mailto:jackhanford@gmail.com"
      tabindex="0"
    >
      Email
    </a>
  </li>
  <li class="item">
    <a
      class="link"
      target="_blank"
      href="https://www.linkedin.com/in/jack-hanford-98352761/"
      tabindex="0"
    >
      Linkedin
    </a>
  </li>
</ul>

<style>
  ul {
    width: 100%;
    padding-left: 0;
    margin: 0;
    list-style: none;
  }

  @media (prefers-color-scheme: dark) {
    .link {
      color: rgba(255, 255, 255, 0.9);
    }
  }

  .link {
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    padding: 1rem;
    border-radius: 1rem;
    box-sizing: border-box;
  }
  
  .link:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .link:focus-visible {
    outline: 2px solid #3b82f6;
    outline-offset: 2px;
    background-color: rgba(0, 0, 0, 0.08);
  }

  @media (prefers-color-scheme: dark) {
    .link {
      color: rgba(255, 255, 255, 0.9);
    }
  }
</style>
